header {
    background-color: #fcfcfc;
    color: #333;
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 40px;
}

.Brochure {
    background-color: #40474a;
    padding: 4px;
}

.Brochure-text {
    color: #fff;
    margin-left: 30px;
    padding: 2px;
    margin: 0;
    margin-left: 15rem;
}

.link {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #fff;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
    }
}

.Announcement {
    background-color: #ef7f1a;
    padding: 4px;
}

.Announcement-text {
    color: #fff;
    padding: 0;
    margin: 0;
    margin-left: 15rem;
    position: relative;
    overflow: hidden;
}

.sliding-text {
    animation: slide 15s linear infinite;
    display: inline-block;
    top: 0;
}

.sliding-text-link {
    color: #fff;
}