nav {
    background-color: #282888;
    color: #fff;
    padding: 1px;
}

ul {
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2px;
}

.home,
.lms-icon {
    background-color: #fa6a2f;
    border-radius: 25px;
}

nav li {
    padding: 0;
    margin: 0;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 7px 15px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #fa6a2f;
    color: #fff;
}

.navlink {
    border-radius: 25px;
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: 5px;
    background-color: #f4f0f0;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: gray;
}

.dropdown-link {
    color: gray;
}

nav li:hover .dropdown {
    display: flex;
    width: max-content;
}



/* Responsive styles for smaller screens (e.g., tablets) */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav a {
        padding: 7px 15px;
    }

    nav li {
        text-align: center;
    }

    .dropdown {
        margin-top: 0;
        position: relative;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 390) {
    nav {
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        padding: 10px 15px;
        text-align: center;
    }

    nav li:hover .dropdown {
        display: none;
    }

    .home,
    .lms-icon {
        border-radius: 0;
    }
}